.memory-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.memory-page h2 {
  color: #1146a6;
}

.memory-page img {
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
}

.comment-form {
  width: 500px;
}

.comments-container {
  width: 500px;
}

.comment {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.comment-name {
  font-weight: bold;
  color: #555;
}
